services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: wilderness-backend
    env_file:
      - .env
    volumes:
      - ./database.db:/app/data/database.db

    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: wilderness-redis

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: wilderness-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
volumes:
  db_data:
